# Virtual environment
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Environment variables
.env

# macOS
.DS_Store

# VS Code
.vscode/

# Pytest
.pytest_cache/

# Build files
dist/
build/
*.egg-info/